{
    "network": {
        "host": "chat.freenode.net",
        "ssl": true,
        "nick": "my_test_bot",
        "pass": "my_pass",
        "channels": {
        	"#bottest1": {},
        	"#bottest2": {}
        },
        "on_connect_commands": ["PRIVMSG nickserv :identify mypassword"]
        "join_wait_on" ["NOTICE", "NickServ!NickServ@services.", "You are now identified for mipples."]
    },
    "module_config": {
    	"karma": {
    		"allow_decrement": true,
    		"share_across_channels": true
    	},
    	"jnet": {
    		"username": "myuser",
    		"password": "mypass"
    	},
        "rfc": {
            "_comment": "Fetch interval is in minutes",
            "fetch_interval": 1440
        },
        "rss": {
            "timeout": 5,
            "feeds": [
                {
                    "name": "RFC",
                    "url": "http://tools.ietf.org/html/new-rfcs.rss",
                    "channels": ["#bottest1", "#bottest2"]
                },
                {
                    "name": "IETF Draft",
                    "url": "http://tools.ietf.org/html/new-ids.rss",
                    "channels": ["#bottest1", "#bottest2"]
                }
            ]
        }
    }

}

